<body>
    <header class="header-comeco">
        <span>Carrinho de Compras do <b>Real Madrid</b></span>
    </header>
    <main>
        <div class="page-title">Seu Carrinho</div>
        <div class="content"></div>
        <section>
            <table>
           <thead>
            <tr>
                <th class="carrinho-categorias1">Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>-</th>
            </tr>
           </thead>
           <tbody>
            <tr>
                <td>
                    <div class="product">
                        <img src="../../../assets/images/camisa do realmadrid 2017.jpg" alt="120">
                        <div class="info">
                            <div class="name"> Camisa Real Madrid 2017 </div>
                            <div class="category"> Camisas </div>
                        </div>
                    </div>
                </td>
                <td>R$ 259,90</td>
                <td>
                    <div class="qty">
                        <button> <i class="bx bx-minus"></i></button>
                        <span>2</span>
                        <button> <i class="bx bx-plus"></i></button>
                    </div>
                </td>
                <td>R$ 519,80</td>
                <td>
                    <button class="remove"> <i class="bx bx-x"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product">
                        <img src="../../../assets/images/camisa do realmadrid 2010.jpg" alt="120">
                        <div class="info">
                            <div class="name"> Camisa Real Madrid 2010 </div>
                            <div class="category"> Camisas </div>
                        </div>
                    </div>
                </td>
                <td>R$ 259,90</td>
                <td>
                    <div class="qty">
                        <button> <i class="bx bx-minus"></i></button>
                        <span>1</span>
                        <button> <i class="bx bx-plus"></i></button>
                    </div>
                </td>
                <td>R$ 259,90</td>
                <td>
                    <button class="remove"> <i class="bx bx-x"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product">
                        <img src="../../../assets/acessorios/Copo-Real-Madrid.jpg" alt="120">
                        <div class="info">
                            <div class="name"> Copo do Real Madrid </div>
                            <div class="category"> Acessórios </div>
                        </div>
                    </div>
                </td>
                <td>R$ 259,90</td>
                <td>
                    <div class="qty">
                        <button> <i class="bx bx-minus"></i></button>
                        <span>2</span>
                        <button> <i class="bx bx-plus"></i></button>
                    </div>
                </td>
                <td>R$ 519,80</td>
                <td>
                    <button class="remove"> <i class="bx bx-x"></i></button>
                </td>
            </tr>
           </tbody>
          <td></td>
        
        </table>
    </section>
    
        <aside style="
            margin-bottom: 1em;
        ">
            <div class="box"></div>
            <header class="header-final">Resumo da Compra </header>
            <div class="info" style="
                border: 4px solid black;
                width: 23%;
                margin-left: 2em;
                border-radius: 10px;
            ">
                <div style="
                margin: 0.6em 0 0.03em 3em;
                font-size: 1.4em;
                "><p>Frete gratuito</p></div>
                <div  style="
                margin: 0.2em 0 1em 3em;
                font-size: 1.4em;
                "><button>Adicionar cupom de desconto</button></div> 
            </div>
            <footer style="
            border: 4px solid black;
            width: 23%;
            margin-left: 2em;
            border-radius: 10px;
            margin-top: 1em;
            padding-bottom: 1em;
            ">
                <p style="
                margin: 0.6em 0 0 3em;
                font-size: 1.4em;
                ">Total</p>
                <p style="
                margin: 0.2em 0 0.03em 3em;
                font-size: 1.4em;
                "><b>R$1.299,50</b></p>
            </footer>
            <button style="
            margin: 4em 0 0.03em 2.5em;
            font-size: 0.9em;
            ">Finalizar Compras</button>
        </aside>
    </main>
</body>