* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 200vh;
    background-color: #EEEDEB;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 8em;
    margin-top: 3em;
}

.container-grid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-usuarios {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 1.3em;
}

.lista-informacao {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 1.3em;
}

.lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #EEEEEE;
    margin-bottom: 1em;
    background-color: #00215E;
    width: 50%;
    border-radius: 11px;
    padding: 0.7em;
}

.lista1 {
    display: flex;
    flex-direction: column;
}